.header {
  width: 100%;
  padding: 60px;
}

.main-nav {
  a {
/*     color: darken($drkblue, 35);
 */    font-size: 22px;
    margin-right: 20px;
    border-bottom: none;
  }
}
header {
  width: 100%;
  margin-top: -40px;
}
